:root {
    --background: rgb(252, 250, 249);
    --textcolor: rgb(8, 7, 5);
    --accent1: rgb(56, 134, 151);
    --accent2: rgb(171, 52, 40);
    --minsectionhght: 25rem;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--background);
    color: var(--textcolor);
}

.header-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1);
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.name {
    flex: 1;
    padding-left: 1rem;
}

.nav-links {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
}

.nav-links a:hover {
    background-color: var(--accent2);
}

.nav-links a {
    padding: 1rem;
}

.topmargin {
    padding-top: 5rem;
}

.row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.titlecard {
    flex: 1 12rem;
    max-width: 12rem;
    border-right: .2rem solid;
    border-color: var(--accent2);;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

.mypicture {
    max-height: var(--minsectionhght);
    padding: 1rem;
}

.aboutcontent {
    flex: 1;
    padding: 1rem;
    align-self: center;
}

.workcontent {
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contentcard {
    max-width: 300px;
    overflow: hidden;
}
  
.flag {
    width: 0; 
    height: 0; 
    border-top: 2rem solid var(--accent2);
    border-bottom: 2rem solid var(--accent2); 
    border-left: 2rem solid var(--accent2);
    border-right: 2rem solid transparent; 
}