/* 1.0 General */

:root {
    --background: rgb(252, 250, 249);
    --textcolor: rgb(8, 7, 5);
    --accent1: rgb(56, 134, 151);
    --accent2: rgb(171, 52, 40);
    --minsectionhght: 25rem;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

main footer {
    background-color: var(--background);
    color: var(--textcolor);
    padding-right: 4rem;
    min-height: 100vh
}

li {
    list-style-type: none;
}

/* 2.0 Header */

header {
    z-index: 101;
}

.header-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent1);
    position: fixed; 
    top: 0; 
    width: 100%; 
    color: var(--background);
}

/* 2.1 Name */

.name {
    flex: 1;
    font-size: 3rem;
    padding-left: 1rem;
    color: var(--background);
}

.name a {
    text-decoration: none;
    color: var(--background);
}

/* 2.2 Nav bar */

.nav-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav-links a {
    padding: 1.5rem 1rem 1.5rem 1rem;
    text-decoration: none;
    color: var(--background);
}

.nav-links a:hover {
    background-color: var(--accent2);
}

.active{
    background-color: var(--accent2);
}

/* 3.0 Main Content */

/* 3.1 General Classes */

/* Set margin and  wrapping propertiesof the three sections
About Me, My Work, and Contact Me */

.topmargin {
    padding-top: 5rem;
}

.row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

/* titlecard and flex-column are used to format titles for About Me,
My Work and Contact Me sections */

.titlecard {
    flex: 1 12rem;
    max-width: 12rem;
    border-right: .2rem solid;
    border-color: var(--accent2);
    margin-right: 5rem;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
}

/* 3.2 About Me */

.mypicture {
    max-height: var(--minsectionhght);
    margin-left: 1rem;
    border: var(--accent2);
    border-radius: 1rem;
    box-shadow: .75rem .5rem .5rem grey;
}

.aboutcontentwrap {
    flex: 1;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

.slogan {
    font-size: 2.5rem;
}

.aboutcontent {
    font-size: 1.25rem;
}

/* 3.3 My Work */

.workcontent {
    flex: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    /* align-items: stretch; */
}

/* style project cards */

.contentcard {
    flex: 1;
    width: 50%;
    min-width: 40%;
    overflow: hidden;
    display: block;
    border-radius: 1rem;
    box-shadow: 10px 5px 5px grey;
    margin: 0.5rem 1rem 0.5rem 1rem;
}

/* style project images */

.contentcard img{
    display: block;
    position: relative;
    margin-top: -5rem;
}

/* style project names */

.flagbox {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 1rem;
    color: var(--background);
}

.flagtext {
    flex: 1 5rem;
    background-color: var(--accent2);
    z-index: 100;
    align-self: stretch;
    max-width: 10rem;
    display: flex;
    align-items:center;
    justify-content: flex-end;
    text-align: right;
}

.flagtext img {
    margin-top: 0rem;
    margin-left: 0.5rem;
    padding-right: 0.5rem;
}

.flag {
    width: 0; 
    height: 0; 
    border-top: 2rem solid var(--accent2);
    border-bottom: 2rem solid var(--accent2); 
    border-left: 2rem solid var(--accent2);
    border-right: 2rem solid transparent; 
    z-index: 100;
}

/* makes first project the whole width of the container */

.workcontent :first-child {
    flex: 1 100%;
    width: 100%;
    overflow: hidden;
}

/* Resume */

.resumecontentwrap {
    flex: 1;
    /* margin-left: 2rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
}

.resumelist {
    margin-bottom: 0.25rem;
}

.resumedownload {
    text-decoration: none;
    color: var(--textcolor);
    padding-top: 0.25rem;
    font-size: 1.25rem
}

/* Form */

.formcontent {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 1.25rem; */
    text-align: center;
    /* height: "900"; */
    /* padding: 1rem; */
    /* margin-left: -2rem;
    margin-right: -2rem; */
}

/* 4.0 Footer */

.bottommargin {
    margin-bottom: 4rem;
}

.footercontent {
    flex: 1;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-align: center;
}

.footercontent a {
    text-decoration: none;
    color: var(--textcolor);
}

/* 5.0 Make screen readable for smaller divices */

@media screen and (max-width: 992px) {

    main {
        padding-right: 1rem;
    }

    .header-wrap {
        flex-direction: column;
        position: static; 
    }

    .row-wrap {
        flex-direction: column;
        align-items: center;
    }

    .titlecard {
        flex: 1;
        margin-top: 0;
        max-width: 100%;
        border-right: 0;
        margin: 1rem;
    }

    .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .nav-links a {
        padding: .5rem;
    }

    .topmargin {
        padding-top: 0rem;
    }

    .aboutcontentwrap {
        margin-left: 1rem;
    }
    
    .slogan {
        padding-top: 1.5rem;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .aboutcontent {
        padding-top: 1rem;
    }
    
    .workcontent {
        flex-direction: column;
        padding-right: 1rem;
    }

    .contentcard {
        width: 75%;
        display: block;
        align-self: center;
    }

    .bottommargin {
        margin-bottom: 2rem;
    }
}
